# Archivos de diseño
*.sketch
*.fig
*.xd

# Dependencias y módulos
/node_modules/
.pnp/
.pnp.js

# Archivos de log
yarn.debug.log*
yarn.error.log*
npm-debug.log*
*.log

# Variables de entorno y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cobertura de tests
/coverage/

# Archivos de producción y build (puedes quitar /dist si quieres subir el JS generado)
# Si usas GitHub Pages o necesitas el JS compilado, elimina /dist de aquí
/build/
/.next/
/out/

# Configuración de IDEs y editores
/.idea/
/.vscode/
*.swp
*.swo

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
*.pem